[submodule "dfg_generator"]
	path = dfg_generator
	url = https://github.com/joaofbmaia/Morpher_DFG_Generator.git
[submodule "cgra_mapper"]
	path = cgra_mapper
	url = https://github.com/joaofbmaia/Morpher_CGRA_Mapper.git
